* {
  box-sizing: border-box;
}

html, body, h1, h2, p, input, button {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(200, 219, 255);
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

.h1 {
  padding: 30px;
}

.description {
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: cornflowerblue;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(18, 35, 66, 0.2);
}

button:hover {
  background-color: rgb(38, 101, 217);
}

#startBtn {
  width: 150px;
  border-radius: 16px;
}

.h2 {
  padding: 30px;
}

.form {
  display: flex;
  justify-content: center;
}

#myNum {
  padding: 10px 20px;
  border-radius: 8px 0 0 8px;
}

#putNumberBtn {
  border-radius: 0 8px 8px 0;
}